*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body{
    background-color: black;
    color: white;
    font-family: 'Sora', sans-serif;
}

/*Header*/

header{
    width: 100%;
    height: 80px;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background-color: transparent;
    z-index: 1;
}

.logo{
    margin-left: 1em;
}

nav a{
    color: white;
    margin: 0.5em;
    font-family: 'Sora', sans-serif;
    transition: all ease-in-out 400ms;
}

nav a:hover{
    font-weight: bolder;
}

header nav a.activo{
    font-weight: bold;
}

/*Container-1*/
.container-1{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
}

#video-b{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}


.presentation-1{
    position: absolute;
    top:100px;
    left: 2%;
    font-size: 60px;
}

.presentation-2{
    position: absolute;
    bottom: 100px;
    right: 2%;
    font-size: 80px;
}

.button-down{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);    
}

/* Reutilizables */

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Container-2*/

.container-2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 8em 0;
}

.desc-1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}
.desc-1 p{
    margin: 2em;
    font-size: 50px;
}

.photo-1{
    width: 40%;
    margin-right: 1em;
    background-image: url(../img/caucasian-woman-s-portrait-isolated-on-blue-background-in-multicolored-neon-light.jpg);
    background-position: center;
    background-size: cover;
}

/* Grid */

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 1em;
}

/* Container-3 */

.desc-2{
    background-image: url(../img/intro-music.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
}

.desc-2,
.desc-3,
.desc-4,
.desc-5 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
}


.desc-3:hover{
    filter: grayscale(0);
}
.desc-2:hover{
    filter: grayscale(0);
}
.desc-4:hover{
    filter: grayscale(0);
}
.desc-5:hover{
    filter: grayscale(0);
}

.tipos-grid p{
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 3em 3em 0 3em;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;
}

.desc-3{
    background-image: url(../img/escuchando-musica.jpg);
    transition: all ease-in-out 600ms;
}

.desc-4 {
    background-image: url(../img/comprar-musica.jpg);
}

.desc-5{
    background-image: url(../img/creando-musica.jpg);

}

.enlace-tipos a{
    color: #D4ECDD;
    margin: 1em 0 4em 0;
    transition: all ease-in-out 400ms;
    font-weight: bolder;
}

.enlace-tipos a:hover{
    text-decoration: underline;
}

/* Parallax */

.container-4{
    margin: 0.4em;
    padding: 2em 0;
    z-index: 2;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
}

.parallax{
    background-image: url(../img/img-parallax.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallax-intro p {
    text-align: center;
}

.novedades-correo input{
    border: none;
    border-bottom: 3px solid white;
    font-size: 30px;
    margin: 1em;
    background-color: transparent;
    border-radius: 0;
    color: white;
    padding: 0.5em 2em;
}

.novedades-correo input:focus{
    outline: none;
}

.invita-registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invita-registro a{
    margin: 0.5em;
    color: #624F82;
    transition: all ease-in-out 400ms;
}

.invita-registro a:hover{
    font-weight: bolder;
}

/* Footer */

.fila{
    display: flex;
    background-color: #16213E;
    justify-content: space-around;
}

.col-33{
    width: 33.3333333%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros p:first-child{
    font-weight: bolder;
    padding-bottom: 0.2em;
}

.redes-sc{
    display: flex;
    justify-content: space-around;
    margin: 0.5em;
}

.redes-sc a img{
    width: 30px;
    margin: 0 2em;
    filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(69deg) brightness(111%) contrast(100%);
}

.politicas{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}
